[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "bundle/The-NERD-tree.git"]
	path = bundle/The-NERD-tree.git
	url = https://github.com/vim-scripts/The-NERD-tree.git
